<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todos</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 m-auto text-center">
                <h1 class="mb-4"> Todos </h1>
                <form action="{% url 'todos' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="todos" placeholder="Task to-do" class=" col-md-12 form-control input-lg mb-2 mr-2">
                    <input type="submit" name="submit" value="Add" class="float-left col-md-2 btn btn-primary">
                </form>
            </div>
        </div>
        {% if todos %}
        <div class="row mt-5">
            <div class="col-lg-8 m-auto text-center">
                <table class="table">
                    <thead>
                        <th>Tasks</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for todo in todos %}
                            <tr>
                            {% if todo.done %}
                                <td><del>{{ todo }}</del></td>
                            {% else %}
                                <td>{{ todo }}</td>
                            {% endif %}
                                <td>
                                    <a href="{% url 'todo_complete' todo.id %}" class="btn btn-primary">
                                        {% if todo.done %}undo{% else %}Done{% endif %}</a>
                                    <a href="{% url 'todo_delete' todo.id %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>